あなたにオススメの楽曲
<% @recommends.each_with_index do |recommend,i| %>
<% music = Music.find(recommend.music_id) %>
  <div class="clearfix"> 
    <div class="iframe-content">
      <iframe class="movie" allowfullscreen="allowfullscreen" frameborder="0" src="http://embed.nicovideo.jp/watch/<%= music.movie_url.split("/")[-1] %>?oldScript=1"></iframe>
    </div>
    <a class="music_title" href="/music/<%= music.id %>"> <%= i+1 %>位： <%= recommend.music.title %> </a>
  </div>
  <br>
<% end %>
<br>
<!-- 
<%= link_to '評価値入力へ', '/music/new' %> -->
<div class="center">
<%= link_to 'トップページへ', '/music' %>
</div>