<div class="contents row">
  <%= form_tag('/music', method: :post) do %>
  <h3>
    楽曲の評価値を入力
  </h3>
  <p>知らない曲は空白にしてね！</p>
  <br>
  <% Music.all.sample(10).each do |music| %>
  
  <div class="clearfix"> 
    <!-- <iframe class="visual" allowfullscreen="allowfullscreen" frameborder="0" width="133" height="100" src="http://embed.nicovideo.jp/watch/<%= music.movie_url.split("/")[-1] %>?oldScript=1"></iframe> -->
    <img class="music_img" src="<%= music.image_url %>" alt="Not found."> 
    <a class="music_title" href="<%= music.id %>"> <%= music.title %> </a>
    <table>
      <tr>
        <td> <p>大好き</p> </td>
        <td> <p>好き</p> </td>
        <td> <p>普通</p> </td>
        <td> <p>嫌い</p> </td>
        <td> <p>大嫌い</p> </td>
      </tr>
      <tr>
        <td align="center"> <input type="radio" name="music_id[<%= music.id %>]" value="2"> </td>
        <td align="center"> <input type="radio" name="music_id[<%= music.id %>]" value="1"> </td>
        <td align="center"> <input type="radio" name="music_id[<%= music.id %>]" value="0"> </td>
        <td align="center"> <input type="radio" name="music_id[<%= music.id %>]" value="-1"> </td>
        <td align="center"> <input type="radio" name="music_id[<%= music.id %>]" value="-2"> </td>
      </tr>
    </table>
  </div>
  
  <br>
  <% end %>
  <input class="input_music" type="submit" value="送信"> 
  <% end %>
  <br>
  <%= link_to 'トップページへ', '/music' %>
  
  <script>
    var btn = document.getElementsByClassName("input_music")[0]
    function sendSuccess() {
      alert('送信しました');
    }
    btn.addEventListener("click", sendSuccess);
  </script>

</div>